# crap, someone's looking at the code! quick, hide in a comment! <!--
# MESSAGING primitives
LOGFILE=".nodeready.log"

say() { echo "# [nodeready] $*" | tee -a $LOGFILE; }
yay() { say "$*"; }
hmm() { say "$*"; }
die() { say "$*"; diagnostics >>$LOGFILE; say "diagnostic information in .nodeready.log"; exit -1; }

diagdo () {
	echo '$' $*
	$* 2>&1
	echo "= $?"
}

diagnostics () {
	echo "########## BEGIN DIAGNOSTICS ################"
	diagdo "date"
	diagdo "uname -a"
	diagdo "which curl wget lynx"
	diagdo "which brew apt-get yum"
	diagdo "which node"
	diagdo "which gcc"
	echo "$ echo \$BASH_VERSION"
	echo $BASH_VERSION
	echo "########## BEGIN env ########################"
	env
	echo "########## BEGIN ~/nvm ######################"
	ls -al $HOME/.nvm
	echo "########## BEGIN nvm.sh #####################"
	cat $HOME/.nvm/nvm.sh
	echo "########## END DIAGNOSTICS ##################"
}

echo
echo
diagnostics >>$LOGFILE
say "strap yourself in, this could get bumpy..."
say "hint: if you want more detail, tail -f .nodeready.log"

# BOOTSTRAPINATOR
has() { which $1 >/dev/null 2>&1; }
use() { has $1 || return; export $2="$3" && yay "using '$1' $4"; }
use_curl() { use $1 CURL "$*" "to download files"; }
use_inst() { use $1 INST "$*" "to install new packages"; }
inst() {
	say "installing $*"
	$INST $* >>$LOGFILE 2>&1
}

# Let's see what we have...
use_inst apt-get -y install || \
use_inst brew install || \
use_inst yum -y install || \
hmm "no package manager found, attempting to continue without one"

if has gcc; then
	say "using 'gcc' to compile"
else
	hmm "we need gcc in order to proceed"
	test `uname` = "Darwin" && die "install XCode first: http://developer.apple.com/technologies/xcode.html"
	hmm "attempting to install gcc with $INST"
	inst gcc || die "failed to install gcc :-("
	yay "successfully installed gcc"
fi

# Well, we need a way to download files for sure
if has curl; then
	use_curl curl -s -C - -o
elif has wget; then
	use_curl wget -q -c -O
else
	hmm "did not find curl or wget, trying to install curl..."
	if inst curl; then
		use_curl curl -s -C - -o
	elif inst wget; then
		use_curl wget -q -c -O
	else
		die "cannot proceed without either curl or wget!"
	fi
fi

# Start with nvm
say "installing nvm"
NVM_DIR="$HOME/.nvm"
if mkdir "$NVM_DIR" >/dev/null 2>&1; then
	$CURL - 'https://github.com/agnoster/nvm/raw/master/nvm.sh' > "$NVM_DIR/nvm.sh"
	grep "nvm.sh" ~/.bashrc ~/.bash_profile >/dev/null 2>&1 || \
		(cat <<-NVMLOAD
		[[ -s "\$HOME/.nvm/nvm.sh" ]] && source "\$HOME/.nvm/nvm.sh" # Load nvm into shell session
		NVMLOAD
) | cat >> ~/.bash_profile
else
	hmm "nvm seems to already be installed - if you want to re-install, run the following and try again:"
	echo "    rm -rf ~/.nvm"
fi

source "$NVM_DIR/nvm.sh" >>$LOGFILE 2>&1 
type nvm 2>&1 | grep "function" >>$LOGFILE 2>&1 || {
	head -n1 "$NVM_DIR/nvm.sh" | grep "\<html" >>$LOGFILE 2>&1 && hmm "maybe github is down?"
	die "failed to load nvm"
	}

# Get the latest and greatest node
if nvm sync; then
	VERSION=`nvm version latest`
else
	VERSION=`$CURL - http://nodejs.org/ | grep -i -A 1 unstable | tail -n1 | sed -e 's/.*node-//' -e 's/.tar.gz.*//'`
	hmm "couldn't use 'nvm sync' to get latest version"
	if [ "$VERSION" = "" ]; then
		VERSION="v0.3.6"
		hmm "falling back to installing $VERSION"
	else
		yay "the website says latest is $VERSION, so we'll just trust them"
	fi
fi
say "installing latest node ($VERSION)"
say "(this could take a while, maybe get a coffee?)"
nvm install $VERSION >>$LOGFILE 2>&1 || die "crap, node install failed!"
yay "node $VERSION installed"
say "setting it as your default..."
nvm alias default $VERSION >>$LOGFILE 2>&1 || (hmm "your version of nvm doesn't seem to support that..."; hmm "oh well, no biggie. just 'nvm use $VERSION' every time you want node")
yay "all done!"
say "to load node, just start a new shell or type:"
echo "    source ~/.nvm/nvm.sh"

say "Thank you for using nodeready. If everything seemed to work, I'd appreciate a tweet @nodeready or an email to nodeready@agnoster.net letting me know what system you installed it on."
exit
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>nodeready</title>
    <link href='http://fonts.googleapis.com/css?family=Orbitron|Droid+Sans|Anonymous+Pro|Syncopate' rel='stylesheet' type='text/css'>
    <style type="text/css">
html{width:100%; overflow-x:hidden;}
    body {
        margin-top: 1.0em;
        color: white;
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    }
    #container {
      margin: 0 auto;
      width: 700px;
      color: black;
    }
    h2,h3 { font-family: Futura, "Helvetica Neue", "Helvetica", "Arial", sans-serif; }
    h1,h2,h3,a { color: #F00036; }
    h2 { border-top: 5px solid #eee; padding-top: 1em; margin-top: 1em; }
    h1 { font-family: Syncopate, Orbitron; background: #F00036; color: white; }
    h1 { font-size: 3.8em; margin: 20px -500px; padding: 15px 500px 10px; }
    h1 .small { font-size: 0.4em; }
    h1 a { text-decoration: none }
    h2 { font-size: 1.5em; }
    h3 { text-align: center; }
    .description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
    .download { float: right; }
    code{font-family: "Anonymous Pro"; font-size: 14px; }
    pre { background: #333; color: #eee; padding: 15px; margin: 0px -15px; -webkit-border-radius: 5px; overflow: auto; }
    hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
    .footer { text-align:center; padding-top:30px; font-style: italic; }
    blockquote { font-size: 80%; color: #555; }
    .twitter-share-button { position: fixed; top: 70px; right: 100px; }
    </style>
    
</head>

<body>
  <a href="http://github.com/agnoster/nodeready"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://agnoster.github.com/nodeready/" data-text="U=http://agnoster.github.com/nodeready/;(curl $U||wget -O - $U)|bash #onelineinstall for @nodejs" data-count="vertical" data-via="nodeready">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

  <div id="container">

      <h1 id='_nodeready'>✣ nodeready</h1>

<p><strong><a href='http://agnoster.github.com/nodeready/'>nodeready</a></strong> is a <strong>one-step installer</strong> for a fully-functioning <strong><a href='http://nodejs.org/'>node.js</a> development environment</strong>.</p>

<pre><code>U=http://agnoster.github.com/nodeready/;(curl $U||wget -O - $U||lynx -source $U)|bash</code></pre>

<p>Just copy-and-paste that crazy little snippet into your terminal, and watch the magic* begin!</p>

<blockquote>
<p>* Magic only available on POSIX-compliant systems. If you have to ask: Yes, it works on Macs, and no, it doesn&#8217;t work on Windows. If you try running this on Windows, the best you can hope for is herpes.</p>
</blockquote>

<h2 id='what_does_it_install'>What does it install?</h2>

<ol>
<li><a href='https://github.com/creationix/nvm'>nvm</a> &#8211; <a href='https://github.com/creationix'>Tim Caswell</a>&#8217;s Node Version Manager</li>

<li><a href='http://nodejs.org/'>node</a> &#8211; The latest, greatest version (0.3.6, as of this writing)</li>

<li><a href='http://npmjs.org/'>npm</a> &#8211; <a href='https://github.com/isaacs'>Isaac Z. Schlueter</a>&#8217;s Node Package Manager</li>
</ol>

<blockquote>
<p>NB: <a href='http://agnoster.github.com/nodeready/'>nodeready</a> currently uses <a href='https://github.com/agnoster/nvm'>my fork</a> of <a href='https://github.com/creationix/nvm'>nvm</a>, as there are some nice features for version detection and whatnot in there. These features have been deemed unsafe for mass consumption as of yet, though, so&#8230; you might want to put on lead underpants before using it.</p>
</blockquote>

<h2 id='and_then'>And then?</h2>

<p>Run <a href='http://nodejs.org/'>node</a>!</p>

<pre><code>$ node
&gt; process.version
&#39;v0.3.6&#39;
&gt; function fib(n){return (n&gt;2)?(fib(n-1)+fib(n-2)):n;}; fib(10);
89</code></pre>

<blockquote>
<p>I can&#8217;t believe how evented that is!</p>
</blockquote>

<h2 id='and_then'>And then?</h2>

<p>Install packages with <a href='http://npmjs.org/'>npm</a>!</p>

<pre><code>$ npm ls installed
npm info it worked if it ends with ok
npm info using npm@0.2.15
npm info using node@v0.3.6
npm@0.2.15                A package manager for node    =isaacs active installed remote package manager modules install package.json
npm ok
$ npm install zappa #amirite?
...</code></pre>

<h2 id='and_then_and_then_and_then_and_then'>And then and then and then and then?</h2>

<p>Use <a href='https://github.com/creationix/nvm'>nvm</a> to get the latest node!</p>

<pre><code>$ nvm sync
# syncing with nodejs.org... done.
NEW latest: v0.3.7
$ nvm install latest
$ nvm alias default v0.3.7</code></pre>

<p>And much, much more! Use <code>nvm help</code> and <code>npm help</code>, they are your friend. Remember: <a href='https://github.com/creationix/nvm'>nvm</a> manages your installs of <a href='http://nodejs.org/'>node</a>, and <a href='http://npmjs.org/'>npm</a> manages the packages.</p>

<h2 id='caveats'>Caveats</h2>

<p><a href='http://agnoster.github.com/nodeready/'>nodeready</a> installs everything to <code>~/.nvm/</code>, owned by your user.</p>

<ul>
<li><strong>Pro</strong>: you don&#8217;t need to sudo.</li>

<li><strong>Con</strong>: maybe you wanted a system-wide version. Weirdo.</li>
</ul>

<blockquote>
<p><a href='http://agnoster.github.com/nodeready/'>nodeready</a> is highly experimental, and comes with no guarantee, express or implied, that your use of it won&#8217;t result in adverse effects up to and including the end of life as we know it.</p>
</blockquote>

<blockquote>
<p>Side-effects of <a href='http://agnoster.github.com/nodeready/'>nodeready</a> may also include horked node installations, blurry vision, feelings of giddy elation, irresistable attractiveness to members of any and all desirable sexes, low birth weight, high birth weight, and triskaidekaphobia.</p>
</blockquote>

<h2 id='whoa_whoa_who_died_and_made_you_god'>Whoa, whoa, who died and made you God?</h2>

<p>This is <a href='http://gettingreal.37signals.com/ch04_Make_Opinionated_Software.php'>opinionated software</a>. I like not having to faff around with sudo, being able to test against multiple language versions at the drop of a hat, and managing my package dependencies with a <code>package.json</code> file. So this script installs <a href='http://nodejs.org/'>node</a> using <a href='https://github.com/creationix/nvm'>nvm</a>, so that you can install any version you want in the future.</p>

<h2 id='so_what_exactly_does_it_do'>So what exactly does it do?</h2>

<ol>
<li>Create <code>~/.nvm</code></li>

<li>Download <a href='https://github.com/agnoster/nvm/blob/master/nvm.sh'>nvm.sh</a> to <code>~/.nvm</code></li>

<li>Load <a href='https://github.com/creationix/nvm'>nvm</a> in <code>.bashrc</code> or <code>.bash_profile</code></li>

<li>Use <a href='https://github.com/creationix/nvm'>nvm</a> to install the latest version of <a href='http://nodejs.org/'>node</a></li>

<li><a href='https://github.com/creationix/nvm'>nvm</a> installs <a href='http://npmjs.org/'>npm</a> in the latest <a href='http://nodejs.org/'>node</a></li>

<li>Set latest version of node to be loaded by default</li>
</ol>

<h2 id='it_broke'>It broke</h2>

<p>Comrade, you should know that <a href='http://agnoster.github.com/nodeready/'>nodeready</a> is infallible. But before you are escorted by our friendly agents to your new home in the JSON mines, please share the output from <code>.nodeready.log</code>, preferably on the <a href='https://github.com/agnoster/nodeready/issues'>issues</a> page. Or email the log to <a href='mailto:nodeready@agnoster.net'>nodeready@agnoster.net</a>. Or if you just want to vent you call yell <a href='http://twitter.com/nodeready'>@nodeready</a> on twitter.</p>

<h2 id='i_meant_my_wifes_water_broke'>I meant, my wife&#8217;s water broke</h2>

<p>Oh! That&#8217;s different. You&#8217;re lucky that <a href='http://agnoster.github.com/nodeready/'>nodeready</a> is also a trained obstetrician.</p>

<h2 id='thanks'>Thanks</h2>

<p>To <a href='https://github.com/joshfng'>Joshua Frye</a>, creator of <a href='https://github.com/joshfng/railsready'>Rails Ready</a> and, unless I&#8217;m misremembering, the <a href='http://en.wikipedia.org/wiki/Spleen'>spleen</a>. Both were great inspirations for <a href='http://agnoster.github.com/nodeready/'>nodeready</a>.</p>

<h2 id='tinkering'>Tinkering</h2>

<p>Please do. <a href='https://github.com/agnoster/nodeready/'>Fork away!</a> Don&#8217;t be evil, or at least, not in a bad way. And whenever possible, make html pages that are also shell scripts, or shell commands that are also tweets.</p>

  </div>

  
</body>
</html>
